@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #D0B8A8;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #F9F5E7;
  font-family: 'Shantell Sans', cursive;
  font-size: 16px;
}

.img-fluid {
  width: 100%;
  max-height: 700px;
}

@media (max-width: 991px) {
  .img-fluid {
    height: 400px;
  }
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: #A7727D !important;
  padding: 20px 0;

}

.navbar-nav .nav-link {
  color: #fff;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #F8EAD8;
}

.heading-content {
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 100%;
}

.heading-content h5 {
  font-size: 3em;
  font-weight: 300;
  color: #fff;
  font-family: monospace;
}

.heading-content h1 {
  font-size: 5em;
  font-weight: bolder;
  color: #fff;
}

.heading-content p {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ccc;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

/* -- background animation--- */
.animation {
  background-color: #F9F5E7;
}

.name-highlight {
  color: #D4D4D4;
}

.var-highlight {
  color: #A7727D;
}

.string-highlight {
  color: #A7727D;
}

pre {
  font-size: 60%;
}

#typewriter {
  font-size: 2em;
  margin: 0;
  font-family: "Courier New";
  min-height: 600px;
}

#typewriter:after {
  content: "|";
  animation: blink 30ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.general-text-font {
  font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
}

/* --------------------------------------About Start------------------------------- */


#about .btn {
  border: 2px solid red transparent;
  width: 40%;
  padding: 15px 22px;
  background: #000;
  border-radius: 5px;
  margin-top: 10px;
}

#about .btn a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#about .btn:hover {
  border: 2px solid;
  cursor: pointer;
}


/* --------------------------------------Service Start------------------------------- */
#service .button {
  border: 2px solid red transparent;
  width: 40%;
  padding: 15px 22px;
  background: #000;
  border-radius: 5px;
  margin-top: 10px;
}

#service .button a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#service .button:hover {
  border: 2px solid;
  cursor: pointer;
}

.service-div {
  justify-content: center;
  align-items: center;
}

/* --------------------------------------portfolio items------------------------------- */
.portfolio-effect {
  display: flex;
  justify-content: space-between;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.portfolio-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  /* min-width: 10%%;
    min-height: 10%;
    max-width: 200%;
    max-height: 200%; */
  transform: translate(-50%, -50%);
  background: transparent;
}

.portfolio-item__info {
  position: absolute;
  top: 0;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * 7px);
  height: calc(100% - 2 * 7px);
  background-color: white;
  /* change the pop up background color here */
  margin-top: 0;
  padding-top: 0;
}

.portfolio-item__header {
  position: relative;
  margin: 0 0 10px 0;
  padding: 5px 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #A7727D;
}

.portfolio-item__header:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 100%;
  content: "";
  background-color: #8d909b;
}

.portfolio-item__links {
  /* display:inline-flex; */

}

.portfolio-item__link-block {

  /* margin-right: 10px; */
}

.portfolio-item__link-block:last-child {
  margin-right: 0;
}

.portfolio-item__link {
  text-align: center;
  text-decoration: none;
  color: #D0B8A8;
  background-color: #A7727D;
  border-radius: 15px 30px;
  padding: 5px;
}

.portfolio-item__link:hover {
  color: #D0B8A8;
  background-color: #A7727D;
  border-radius: 15px 30px;
}


/* --------------------------------------Contact Start------------------------------- */
#contact {
  height: 50%;
}

/*--------------------------testing area------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

h1,
aside,
.container {
  margin: 0 auto 20px;
  max-width: 500px;
}

.container {
  height: 100%;
  border-radius: 5px;
  margin: 15px auto;
  position: relative;
  transition: box-shadow 200ms;
}

.container:hover {
  box-shadow: 0 10px 50px -10px black;
}

.slideshow {
  position: relative;
  width: 100%;
}

.slideshow:after {
  content: '';
  display: block;
  padding-bottom: calc((100% / 6) * 4);
}

.slideshow:hover a {
  opacity: 1;
}

.slideshow a {
  opacity: 0;
  position: relative;
  text-decoration: none;
  transition: opacity 0.5s;
}

.slideshow a:after {
  border-color: #fff #fff transparent transparent;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  display: block;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
}

.slideshow a:first-child:after {
  content: '';
  right: 0;
  transform: rotate(-135deg);
}

.slideshow a:nth-child(2):after {
  content: '';
  right: 10px;
  transform: rotate(45deg);
}

.slideshow .slide {
  background-color: #fff;
  box-sizing: border-box;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slideshow .slide:first-child,
.slideshow .slide:target {
  display: block;
}

.slideshow .slide a {
  display: block;
  height: 100%;
  position: relative;
  width: 50%;
}

.slideshow .slide a:nth-child(2) {
  left: 50%;
}

.slideshow .slide img {
  border-radius: 5px;
  width: 100%;
}

.pagination {
  display: flex;
  bottom: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.pagination a {
  background: #A7727D;
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
}

.pagination a:not(:last-child) {
  margin-right: 5px;
}

.pagination a span {
  display: none;
}

a:target {
  color: red;
}